@page "/"
@inject HttpClient client;

<PageTitle>Home</PageTitle>

<Quiz>
    @* This should probably just be parameters, since the Quiz-component should be responsible for the HOW, i.e. the styling of the description and content, and we should only pass it its values.*@
    <Description>
        <div>
            <h2>First quiz</h2>
            <p>
                Our first quiz
            </p>
        </div>
    </Description>
    <ChildContent>
        @foreach (var question in questions)
        {
            <Question Title="@question.Title" Points="@question.Points" Alternatives="@question.Alternatives" />
        }
    </ChildContent>
</Quiz>

@code {
    private List<Response> questions = new List<Response>();

    protected override async Task OnInitializedAsync()
    {
        questions = await client.GetFromJsonAsync<List<Response>>("https://localhost:7101/api/questions");
    }

    public record Response(
        int Id,
        string Title,
        string Answer,
        int Points,
        int Time,
        bool IsOpenEnded,
        List<string> Alternatives
    );
}